// footer
footer{
    background-color: $main;
    padding: 15px 0;
    @include media-breakpoint-down(md){
        padding: 20px 0 14px 0;
    }
    .footer-top{    
        overflow: hidden;
        @include media-breakpoint-down(sm){
            text-align: center;
        }
        p.cright{  
            font-size: 13px;
            margin: 10px 0 0 0px;
            float: left;
            color: $wt;
            @include media-breakpoint-down(md){
                margin: 5px 0 0 0;
            }
            @include media-breakpoint-down(sm){
                float: none;
            }
        }
        .socmed{
            font-size: 22px;
            color: $wt;
            margin-right: 20px;
            float: right;
            transition: all 0.3s ease;
            @include media-breakpoint-down(sm){
                float: none;
                display: inline-block;
                margin: 0 5px 10px 5px;
            }
            &:hover, &:focus{
                color: $second;
                text-decoration: none;
            }
        }
    }
}
