// footer
footer{
    padding: 60px 0px 50px 0;
    background-color: #dddddd;
    @include media-breakpoint-down(md){
        padding: 30px 0px 20px 0;
    }
    .contact-text{
        @include media-breakpoint-down(sm){
            text-align: center;
        }
        img{
            width: 70px;
            margin-bottom: 15px;
            @include media-breakpoint-down(md){
                width: 55px;
                margin-bottom: 10px;
            }
        }
        .title{
            font-family: $b;
            font-size: 24px;
            text-align: left;
            color: $main;
            @include media-breakpoint-down(lg){
                font-size: 20px;
            }
        }
        .subtitle{
            font-size: 16px;
            color: $main;
            text-align: left;
            margin-bottom: 0px;
            @include media-breakpoint-down(lg){
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
        .ket{
            display: block;
            font-size: 14px;
            margin-bottom: 10px;;
        }
    }
}
